#external {
    color: yellow;
}

* {
    font-family: 'Verdana', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 3rem;
}

#i-am-h2 {
    text-transform: uppercase;
}

.languages-to-be-learned {
    background-color: #90EE90;
}

.tools-to-be-used {
    border: 2px solid #0000FF;
}

img + ul {
    list-style-type: none;
}

section img {
    height: 20vh;
    width: 20vh;
    border-radius: 150px;
}

ul ~ p {
    text-align: center;
}

ul > li {
    letter-spacing: 10px;
}

